nav {
    display: flex;
    gap: 30px;
    padding-right: 30px;
    padding-left: 50px;
}

.nav-item {
    cursor: pointer;
}

.user {
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
    }
}

.widget {
    border-radius: 6px;
    align-self: right;
    padding-right: 50px;
    padding-left: 30px;
    display: flex;

}

a {
    margin-left: 5px;
}

a:hover,a:focus {
    text-decoration: underline;
    cursor: pointer;
}
