nav {
    display: flex;
    gap: 30px;
    padding-right: 30px;
    padding-left: 50px;
}

.nav-item {
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
    }
}

.widget {
    border-radius: 6px;
    align-self: right;
    padding-right: 50px;
    padding-left: 30px;
}
