<h2 (click)="switchFilters()">
    Filters
    <img *ngIf="!filtersOn" src="../../assets/chevron-down.svg">
    <img *ngIf="filtersOn" src="../../assets/chevron-up.svg">
</h2>
<div class="filter-container" *ngIf="filtersOn">
    Country:
    <select [(ngModel)]="selectedCountry" (ngModelChange)="filterService.setCountry(selectedCountry)" name="countries"
        id="countries">
        <option value="All">All</option>
        <option *ngFor="let country of filterService.getCountries()" [value]="country">{{country}}</option>
    </select>
    Date from: <input [(ngModel)]="selectedStart" (ngModelChange)="filterService.setStart(selectedStart)" type="date">
    Date to: <input [(ngModel)]="selectedEnd" (ngModelChange)="filterService.setEnd(selectedEnd)" type="date">
    Price from: {{convertCurrency(selectedCostMin)}}
    <input [(ngModel)]="selectedCostMin" (ngModelChange)="filterService.setCostMin(selectedCostMin)" type="range"
        [min]="filterService.getCostMin()" [max]="filterService.getCostMax()">
    Price to: {{convertCurrency(selectedCostMax)}}
    <input [(ngModel)]="selectedCostMax" (ngModelChange)="filterService.setCostMax(selectedCostMax)" type="range"
        [min]="selectedCostMin" [max]="filterService.getCostMax()">
    <div>Rating from: {{selectedRatingFrom}} <img src="../../assets/star-fill.svg"></div>
    <input type="range" (ngModelChange)="filterService.setRatingFrom(selectedRatingFrom)"
        [(ngModel)]="selectedRatingFrom" [min]="filterService.getMinRating()" [max]="filterService.getMaxRating()">
    <div>Rating to: {{selectedRatingTo}} <img src="../../assets/star-fill.svg"></div>
    <input type="range" (ngModelChange)="filterService.setRatingTo(selectedRatingTo)" [(ngModel)]="selectedRatingTo"
        [min]="selectedRatingFrom" [max]="filterService.getMaxRating()">
</div>