<h2 (click)="switchFilters()">
    Filters
    <img *ngIf="!filtersOn" src="../../assets/chevron-down.svg">
    <img *ngIf="filtersOn" src="../../assets/chevron-up.svg">
</h2>
<div class="filter-container" *ngIf="filtersOn">
    Countries:
    <div class="country-container">
        <div class="country" *ngFor="let country of countries">
            <span>{{country}}</span>
        <input type="checkbox" checked (click)="handleCheck($event, country)" (ngModelChange)="filterService.setCountries(selectedCountries)">
        </div>
    </div>
    Date from: <input [(ngModel)]="selectedStart" (ngModelChange)="filterService.setStart(selectedStart)" type="date">
    Date to: <input [(ngModel)]="selectedEnd" (ngModelChange)="filterService.setEnd(selectedEnd)" type="date">
    Price from: {{convertCurrency(selectedCostMin)}}
    <input [(ngModel)]="selectedCostMin" (ngModelChange)="filterService.setCostMin(selectedCostMin)" type="range"
        [min]="filterService.getCostMin()" [max]="filterService.getCostMax()">
    Price to: {{convertCurrency(selectedCostMax)}}
    <input [(ngModel)]="selectedCostMax" (ngModelChange)="filterService.setCostMax(selectedCostMax)" type="range"
        [min]="selectedCostMin" [max]="filterService.getCostMax()">
    <div>Rating from: {{selectedRatingFrom}} <img src="../../assets/star-fill.svg"></div>
    <input type="range" (ngModelChange)="filterService.setRatingFrom(selectedRatingFrom)"
        [(ngModel)]="selectedRatingFrom" [min]="filterService.getMinRating()" [max]="filterService.getMaxRating()">
    <div>Rating to: {{selectedRatingTo}} <img src="../../assets/star-fill.svg"></div>
    <input type="range" (ngModelChange)="filterService.setRatingTo(selectedRatingTo)" [(ngModel)]="selectedRatingTo"
        [min]="selectedRatingFrom" [max]="filterService.getMaxRating()">
</div>