body {
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: x-large;
}

h2 {
    color: #444;
    font-size: larger;
}

.btn {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    font-size: x-large;
}