<div class="container">
    <h1>Welcome!</h1>
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur suscipit sint cupiditate amet assumenda
        ducimus excepturi veniam, animi dolorum exercitationem dolores fugiat perferendis eligendi facilis culpa rerum
        harum quibusdam? Perspiciatis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, ipsa excepturi?
        Delectus porro deserunt et nihil optio harum ipsam vitae fuga ipsum, dolorem quam, voluptatibus eligendi.
        Pariatur accusamus eum quod.</p>
    <h2>How to reach us?</h2>
    <ul>
        <li>Email: example&#64;example.com</li>
        <li>Phone: +48 123 456 789</li>
        <li>Address: 711-2880 Nulla St. Mankato Mississippi 96522</li>
    </ul>
    <img src="../../assets/map.png">
    <h2>Our offer</h2>
    <a class="nav-item" routerLink="/trips">Trips</a>
</div>