<div class="container">
    <h1>Welcome!</h1>
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur suscipit sint cupiditate amet assumenda
        ducimus excepturi veniam, animi dolorum exercitationem dolores fugiat perferendis eligendi facilis culpa rerum
        harum quibusdam? Perspiciatis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, ipsa excepturi?
        Delectus porro deserunt et nihil optio harum ipsam vitae fuga ipsum, dolorem quam, voluptatibus eligendi.
        Pariatur accusamus eum quod.</p>
    <h2>How to reach us?</h2>
    <ul>
        <li>Email: example&#64;example.com</li>
        <li>Phone: +48 123 456 789</li>
        <li>Address: 407 Roosevelt St, Forest, MS 39074, US</li>
    </ul>
    <a
        href="https://www.google.com/maps/place/407+Roosevelt+St,+Forest,+MS+39074,+Stany+Zjednoczone/@32.3689135,-89.4820663,17.26z/data=!4m6!3m5!1s0x8882560e35a99cf1:0x82ef40532b758045!8m2!3d32.3694039!4d-89.4826167!16s%2Fg%2F11s51xrbxm?hl=pl-PL&entry=ttu"><img
            src="../../assets/map.png"></a>
    <h2>Our offer</h2>
    <a class="nav-item" routerLink="/trips">Click here</a>
</div>